# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
*.apk
*.aab
*.keystore

# Android SDK
.android/
local.properties

# Lint reports
lint-baseline.xml
captures/
